:root {
    --green: #29a744;
    --darkBlue: #353a40;
    --lightBlue: #1e5372;
    --formButton: #96c93e;
}
::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
html {    scroll-padding: 70px 0 0 0;}
/* Colores modificados */
.bg-primary {    background-color: var(--darkBlue)!important;}
.text-success{    color:var(--green)!important;}
.btn-success{    background-color: var(--green);}
.btn-green{    background-color: var(--formButton);}
.btn-green:hover{    background-color: var(--green);}
/* Generales */
footer {
    background: rgb(28, 54, 67);
    background: linear-gradient(100deg, var(--darkBlue) 0%, var(--lightBlue) 100%);
    height: fit-content;
}
.navbar__img {    width: 100px;}