.darkBlue {
    background-color: #353a40;
}

.uppercase {
    text-transform: uppercase;
}

span {
    font-size: 2rem;
}

footer {
    background: rgb(28,54,67);
background: linear-gradient(107deg, rgba(28,54,67,1) 0%, rgba(30,83,114,1) 100%);
    height: 150px;
}

header img{
    width: 100px;
}

.img_cover {
    position: relative;
}

.hero {
    position: absolute;
    bottom: 0;
}

.justify-text-right {
    text-align: right;
}

.btn:active {
  color: black;
}

.w-800 {
    max-width: 800px;
}

footer a {
    text-decoration: none;
    color: white;
}
footer li {
    list-style-type: none;
}